services:

  db:
    image: postgres:16-alpine
    container_name: expense_db
    restart: unless-stopped
    environment:
      POSTGRES_DB:       ${POSTGRES_DB}
      POSTGRES_USER:     ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./SpendsMate
      dockerfile: Dockerfile
    container_name: expense_backend
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE:     docker
      SPRING_DATASOURCE_URL:      ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./spends-mate-frontend/spends-mate
      dockerfile: Dockerfile
    container_name: expense_frontend
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      VITE_API_URL: ${VITE_API_URL}

volumes:
  postgres_data: